<!--<div class="container mt-4" ng-init=getCompetences()>

    <div class="card">
        <h1>Creation Projet</h1>

        <form>
            <div class="form-group">
                <label>Nom du projet</label>
                <input type="text" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" class="form-control" id="nom"
                    placeholder="Nom du projt">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="description" placeholder="Description">
            </div>

            <div class="form-group">
           
            </div>

            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">competences</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of competences">
                            <th scope="row">
                                <input value = {{c.codeC}} class="comps" type ="checkbox"/>
                            </th>
                            <td>{{c.nom}}</td><td id="comp" >{{c.codeC}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>


            <button type="button" class="btn btn-primary mt-4" (click)="getAllCom()">Save</button>


        </form>
    </div> -->
    <div class="container mt-4">
        <form>
            <h5 >Mettez en place un nouveau projet</h5>
            <div class="form-group">
            <label>Nom Projet</label>
            
            <div class="input-log">
              <input type="text" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}"  class="form-control" id="nom"
                placeholder="Nom du projet">
            </div>
          </div>
      
          <div class="form-group">
            <label n>Description</label>
            <div class="input-log">
              <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control"
                id="description" placeholder="Description du projet">
            </div>
          </div>
          <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">LISTE DES COMPETENCES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of competences">
                        <th scope="row">
                            <input value = {{c.codeC}} class="comps" type ="checkbox"/>
                        </th>
                        <td>{{c.nom}}</td><td id="comp" >{{c.codeC}}</td>
                    </tr>
                </tbody>
            </table>
            </div>


          <button type="submit" (click)="createProjet()" class="btn btn-valid mt-4">Créer</button>
      
        </form>
      </div>