
<div class="container" ng-init=getCompetences()>
      <h1 style="text-decoration: underline;">Création de projet</h1>
<!--<div class="card" ng-init=getCompetences()>
      <h1>Creation Projet</h1>


      <form>
            <div class="form-group">
                  <label>Nom du projet</label>
                  <input type="text" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" class="form-control"
                        id="nom" placeholder="Nom du projet">
            </div>

            <div class="form-group">
                  <label>Description</label>
                  <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"
                        class="form-control" id="description" placeholder="Description">
            </div>

            <div class="form-group">

            </div>

            <div class="form-group">
                  <table class="table">
                        <thead>
                              <tr>
                                    <th scope="col">competences</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let c of competences">
                                    <th scope="row">
                                          <input type="checkbox" />
                                    </th>
                                    <td>{{c.nom}}</td>
                                    <td>{{c.codeC}}</td>
                              </tr>
                        </tbody>
                  </table>
            </div>


            <button type="submit" class="btn btn-primary mt-4" (click)="createProjet()">Créer</button>


      </form>
</div>
-->
<app-competence></app-competence>
<app-projet></app-projet>
<!--<div class="container mt-4">
      <form>
        <h1>Création d'un Projet</h1>
        <h3>Cette espace vous pe</h3>
        <div class="form-group">
          <label>Nom Compétence</label>
          <div class="input-log">
            <input type="text"  class="form-control" id="nom"
              placeholder="Nom de la compétence">
          </div>
        </div>
    
        <div class="form-group">
          <label>Description</label>
          <div class="input-log">
            <input type="text" class="form-control"
              id="description" placeholder="Description">
          </div>
        </div>
        <button type="submit" class="btn btn-valid mt-4">Créer</button>
    
      </form>
    </div>
-->