<div>
      <div class="page">
            <header class="projet-list">
                  <label for="acc-close" class="box-title">Liste des projets de l'étudiants</label>
                  <div class="action">
                        <div class="search-bloc">
                              <span class="material-symbols-rounded">
                                    search
                              </span>
                              <input type="text" name="search" id="search" placeholder="Recherche">
                        </div>
                        <button>
                              <span class="material-symbols-rounded">
                                    add
                              </span>Ajouter un projet
                        </button>
                  </div>
            </header>
            <div id="list-proj">
                  <div *ngFor="let projet of myProjects" class="card-projet">
                        <input type="radio" name="accordion" id="cb{{projet}}" />
                        <section class="box">
                              <label class="box-title" for="cb{{projet}}">{{projet.nom}}</label>
                              <label class="box-close" for="acc-close"></label>
                              <div class="box-content">
                                    <h2>Description :</h2> <!--Description-->
                                    <p>{{projet.description}}</p>
                                    <h2>Compétence à acquérir :</h2>
                                    <table>
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                      <th>Status</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let competence of [0,1,2,3,4]">
                                                      <td>Compétence n°{{competence}}</td>
                                                      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Distinctio libero beatae dignissimos quasi necessitatibus
                                                            minima tempora laudantium cupiditate, eaque ut inventore
                                                            neque? Perferendis doloribus odit quam sunt. Commodi,
                                                            repudiandae hic.</td>
                                                      <td *ngIf="competence === 0 || competence === 3" class="nac">Non
                                                            acquis
                                                            <div class="progress-bar">
                                                                  <div class="progress"></div>
                                                            </div>
                                                      </td>
                                                      <td *ngIf="competence === 1 || competence === 4" class="eac">En
                                                            cours
                                                            d'acquisition
                                                            <div class="progress-bar">
                                                                  <div class="progress"></div>
                                                            </div>
                                                      </td>
                                                      <td *ngIf="competence === 2" class="ac">Acquis
                                                            <div class="progress-bar">
                                                                  <div class="progress"></div>
                                                            </div>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                                    <a href="#">Se noter</a>
                              </div>
                        </section>
                  </div>
            </div>
      </div>
</div>