<div>
      <div class="page">
            <header class="projet-list">
                  <label for="acc-close" class="box-title">Liste des projets de l'étudiants : {{myPrenom}}</label>
                  <div class="action">
                        <div class="search-bloc">
                              <span class="material-symbols-rounded">
                                    search
                              </span>
                              <input type="text" name="search" id="search" placeholder="Recherche">
                        </div>
                        <a href="/home-student/newproj">
                              <span class="material-symbols-rounded">
                                    add
                              </span>Ajouter un projet
                        </a>
                  </div>
            </header>
            <div id="list-proj">
                  <div *ngFor="let projet of myProjets" class="card-projet">
                        <input type="radio" name="accordion" id="cb{{projet}}" />
                        <section class="box">
                              <label class="box-title" for="cb{{projet}}">{{projet.nom}}</label>
                              <label class="box-close" for="acc-close"></label>
                              <div class="box-content">
                                    <h2>Description :</h2> <!--Description-->
                                    <p>{{projet.description}}</p>
                                    <h2>Compétence à acquérir :</h2>
                                    <table>
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                      <th>Status</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let competence of projet.competences">
                                                      <td>{{competence.nom}}</td>
                                                      <td>{{competence.description}}</td>
                                                      <td *ngIf="competence.etat === 0 || competence.etat === 3"
                                                            class="nac">Non
                                                            acquis
                                                            <div class="progress-bar">
                                                                  <div class="progress"></div>
                                                            </div>
                                                      </td>
                                                      <td *ngIf="competence.etat === 1 || competence.etat === 4"
                                                            class="eac">En
                                                            cours
                                                            d'acquisition
                                                            <div class="progress-bar">
                                                                  <div class="progress"></div>
                                                            </div>
                                                      </td>
                                                      <td *ngIf="competence.etat === 2" class="ac">Acquis
                                                            <div class="progress-bar">
                                                                  <div class="progress"></div>
                                                            </div>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                                    <a href="#">Se noter</a>
                              </div>
                        </section>
                  </div>
            </div>
      </div>
</div>