<div>
      <div class="page">
            <header class="projet-list">
                  <label for="acc-close" class="box-title">Liste des projets de : {{myEmail}}</label>
                  <div class="action">
                        <div class="search-bloc">
                              <span class="material-symbols-rounded">
                                    search
                              </span>
                              <input type="text" name="search" id="search" placeholder="Recherche">
                        </div>
                        <button (click)="createProjet()">
                              <span class="material-symbols-rounded">
                                    add
                              </span>Créer un projet
                        </button>
                  </div>
            </header>
            <div id="list-proj">
                  <div *ngFor="let projet of projets2;index as i;" class="card-projet">
                        <input type="radio" name="accordion" id="cb{{i}}" />
                        <section class="box">
                              <label class="box-title" for="cb{{i}}">{{projet[0].nom}}</label>
                              <label class="box-close" for="acc-close"></label>
                              <div class="box-content">
                                    <h2>Description :</h2>
                                    <p>Description a modifier</p>
                                    <h2>Compétence à acquérir :</h2>
                                    <table>
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                      <th>Status</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let competence of [0,1,2,3,4]">
                                                      <td>Nom</td>
                                                      <td>Prénom</td>
                                                      <td>
                                                            <a href="#">Noter l'étudiant</a>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </section>
                  </div>
            </div>
      </div>
</div>