<div>
      <div class="page">
            <header class="projet-list">
                  <label for="acc-close" class="box-title">Inscrivez-vous aux projets</label>
                  <div class="action">
                        <div class="search-bloc">
                              <span class="material-symbols-rounded">
                                    search
                              </span>
                              <input type="text" name="search" id="search" placeholder="Recherche">
                        </div>
                  </div>
            </header>
            <div id="list-proj">
                  <div *ngFor="let projet of projets;index as i;" class="card-projet">
                        <input type="radio" name="accordion" id="cb{{i}}" />
                        <section class="box">
                              <label class="box-title" for="cb{{i}}">{{projet.nom}}</label>
                              <label class="box-close" for="acc-close"></label>
                              <div class="box-content">
                                    <h2>Description :</h2>
                                    <p>{{projet.description}}</p>
                                    <h2>Compétence à acquérir :</h2>
                                    <table>
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let competence of projet.competences">
                                                      <td>Compétence n°{{competence.nom}}</td>
                                                      <td>{{competence.description}}</td>
                                                </tr>
                                          </tbody>
                                    </table>
                                    <button type="button" id={{projet.codeP}} (click)="addProjet($event)">Participer</button>
                              </div>
                        </section>
                  </div>
            </div>
      </div>
</div>